# editorconfig.org
root = true

[*]
# 使用空格
indent_style = space
# 缩进个数
indent_size = 2
# 换行符
end_of_line = lf
# 字符集
charset = utf-8
# 换行符之前不能有字符
trim_trailing_whitespace = true
# 文件最后需要有个换行符
insert_final_newline = true

[*.md]
# 换行符之前能有字符
trim_trailing_whitespace = false
