registry=https://registry.npmjs.org
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs
chromedriver_cdnurl=http://cdn.npm.taobao.org/dist/chromedriver
puppeteer_download_host=https://npm.taobao.org/mirrors
package-lock=false
save-exact=true
