registry=http://mirrors.tencent.com/npm/
# phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs
chromedriver_cdnurl=http://cdn.npm.taobao.org/dist/chromedriver
puppeteer_download_host=https://npm.taobao.org/mirrors
save-exact=true
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
